@import 'styles/theme';

.confirm {
  &.background {
    position: fixed;
    z-index: 1;

    //background: transparentize($background, 0.2);
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  &.container {
    @include center;
    flex-direction: column;
    display: flex;
    min-width: 33%;
    max-width: 400px;
    max-height: 95%;
    margin: 20px;
    background: transparentize($background, 0.05);
    border: 1px solid $accent;
    border-radius: $borderRadius;
    padding: 30px 50px;
  }
  &.title {
    font-size: 15pt;
    position: relative;
    margin-top: 15px;
    margin-bottom: 10px;
  }
  &.buttons-container {
    display: flex;
    flex-direction: row;
    width: 50%;
    justify-content: center;
  }
}
