@import 'styles/theme';

.game {
  &.container {
    background: none;
    min-height: 100%;
    min-width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0;
  }
  &.buttons-L {
    margin: 10px;
    display: flex;
    flex-direction: row;
    position: fixed;
    left: 0px;
  }
  &.buttons-R {
    margin: 10px;
    display: flex;
    flex-direction: row;
    position: fixed;
    right: 0px;
  }
  &.field {
    background: none;
    border-radius: 0;
    height: 34%;
    min-width: 100%;
    padding: 0 50px 20px 50px;
  }
  &.factories-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
  }
  &.tiles-container {
    margin-top: 15px;
    padding: 10px;
    max-height: 25%;
    background: transparentize($accent, 0.5);
    border-radius: $borderRadius;
  }
  &.board {
    background: $background;
    display: flex;
    flex-direction: row;
    flex: center;
    border-radius: 0;
    height: 66%;
    width: 100%;
    position: fixed;
    bottom: 0;
  }
  &.stairs-container {
    display: flex;
    flex-direction: column;
    width: 400px;
    align-items: flex-end;
  }
  &.turn-order{
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 20%;
    min-width: 160px;
    height: 100%;
    align-items: flex-end;
    position: sticky;
    right: 0px;
  }
  &.score{
    color: $accent;
    position: absolute;
    right: 10px;
  }
  &.your-turn {
    position: absolute;
    top: 0;
    flex: center;
    font-size: 20px;
    background: transparentize($col1, 0.5);
    border-radius: 0 0 150px 0;
    height: 150px;
    width: 150px;
    padding: 10px;
  }
  &.placed-tiles {
    display: flex;
    flex-direction: row;
  }
  &.placed-tile {
    margin-left: 6px;
    margin-right: 18px;
    width: 80px;
    z-index: 1;
  }
  &.preview-tile {
    margin-left: 6px;
    margin-right: 18px;
    width: 80px;
    z-index: -1;
  }
  &.wall {
    margin-left: 80px;
    width: 420px;
    height: 420px;
    display: flex;
    flex-direction: column;
  }
  &.floorline {
    margin-left: 80px;
    display: flex;
    flex-direction: column;
    &:hover {
        cursor: pointer;
    }
    &:disabled {
      opacity: 1;
      cursor: default;
    }
    padding: 0;
    height: 455px;
    border: none;
    border-radius: $borderRadius;
    cursor: pointer;
    font-weight: 300;
    color: #FFFFFF;
    background: none;
    background-color: none;
  }
  &.image {
    height: 32px;
    width: 32px;
    margin-right: 10px;
  }
  &.skip-button{
    position: fixed;
    left: 200px;
    margin-top: 10px;
  }
  &.holding {
    position: fixed;
    right: 0px;
    padding: 7px 20px;
    margin: 10px;
    font-size: 16pt;
    height: 40px;
    align-items: center;
    justify-content: center;
    background: transparentize($accent, 0.5);
    border-radius: $borderRadius;
  }
}

.middle {
  &.container {
    border-radius: $borderRadius;
    width: 100%;
    margin-top: 5px; //changed this from 30px because of the game rules button
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

.player-turn {
  &:hover {
      transform: none;
      background: transparentize($accent, 0.9);
  }
  align-items: center;
  margin-bottom: 10px;
  border-radius: 0.75em 0 0 0.75em;
  padding: 10px;
  height: 55px;
  width: 100%;
  font-size: 18pt;
  background: $background;
  display: flex;
  flex-direction: row;
  color: $textColor;
  text-transform: none;
  padding-right: 30px;
  border: 1px solid $accentDark;
  &.you {
    border: 3px solid $accent;
  }
  &.left {
    border: 1px solid #808080;
    color: #808080;
  }
}

.board {
  &.container {
    margin:0 auto;
    display: flex;
    flex-direction: row;
    width: 1000px;
    margin-bottom: 20px;
    align-items: center;
    justify-content: center;
  }
  &.main {
    padding: 50px 0 20px 0;
    margin:0 auto;
    display: flex;
    flex-direction: row;
    width: 1000px;
    margin-bottom: 20px;
  }
}

.factory {
  &.container {
    background: transparentize($accent, 0.5);
    border-radius: 50%;
    width: 155px;
    height: 155px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0px 5px;
  }
}

.stairs {
  &:hover {
    transform: none;
    background: transparentize($accent, 0.9);
  }
  &:disabled {
    opacity: 0.5;
    background: none;
  }
  color: transparentize($accent, 0.5);
  border: 2px solid transparentize($accent, 0.3);
  background: transparentize($accent, 0.95);
  margin-bottom: 5px;
  height: 80px;
  &.back-1 {
    width: 20%;
  }
  &.back-2 {
    width: 40%;
  }
  &.back-3 {
    width: 60%;
  }
  &.back-4 {
    width: 80%;
  }
  &.back-5 {
    width: 100%;
  }
}
.wall {
   margin-bottom: 5px;
   &.row{
     display: flex;
     flex-direction: row;
   }
}

.wall-tile{
    max-height: 80px;
    max-width: 80px;
    min-height: 80px;
    min-width: 80px;
    margin-right: 5px;
    padding: 12px;
    &.tile-1{
      background: transparentize($col1, 0.5);
    }
    &.tile-2{
      background: transparentize($col2, 0.5);
    }
    &.tile-3{
      background: transparentize($col3, 0.5);
    }
    &.tile-4{
      background: transparentize($col4, 0.5);
    }
    &.tile-5{
      background: transparentize($col5, 0.5);
    }
}

.floor {
  &.container {
    border: 2px solid transparentize($accentDark, 0.7);
    display: flex;
    align-items: center;
    flex-direction: row;
    height: 60px;
    margin-bottom: 5px;
  }
  &.value-container {
    justify-content: center;
    padding: 0 3px;
    display: flex;
    font-size: 16pt;
    flex-direction: column;
    height: 100%;
    width: 100%;
    background: transparentize($accentDark, 0.7);
  }
}

.tile {
  &:hover {
      transform: none;
      border: 5px solid #FFFFFF;
  }
  &:disabled {
    opacity: 1;
    border: 2px solid $background;
  }
  margin: 3px;
  width: 50px;
  height: 50px;
  border-radius: 0;
  font-size: 16pt;
  border: 2px solid $background;
  color: $textColor;
  &.empty {
    border: 2px hidden $background;
  }
  &.button-0 {
    &:hover {
      border: 5px solid $accentDark;
    }
    &:disabled {
      border: 2px solid $background;
    }
    background: $col0;
    background-color: $col0;
    color: $accentDark;
  }
  &.button-1 {
    background: $col1;
    background-color: $col1;
  }
  &.button-2 {
    background: $col2;
    background-color: $col2;
  }
  &.button-3 {
    &:hover {
        border: 5px solid $background;
    }
    &:disabled {
      border: 2px solid $background;
    }
    background: $col3;
    background-color: $col3;
    color: $background;
  }
  &.button-4 {
    background: $col4;
    background-color: $col4;
  }
  &.button-5 {
    background: $col5;
    background-color: $col5;
  }
  &.button-6 {
    border: 2px solid $col1;
    background: none;
    font-size: 9pt;
    color: $col1;
  }
}
