@import 'styles/theme';

.game {
  &.container {
    background: none;
    min-height: 100%;
    min-width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0;
  }
  &.field {
    background: none;
    border-radius: 0;
    max-height: 50%;
    min-width: 100%;
    padding: 0 50px 20px 50px;
  }
  &.factories-container {
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  &.board {
    background: $background;
    border-radius: 0;
    max-height: 50%;
    min-width: 100%;
    padding: 0 50px 20px 50px;
  }
  &.stairs-container {
    margin: 50px;
    display: flex;
    flex-direction: column;
    width: 400px;
    align-items: flex-end;
  }
  &.placed-tiles {
    align-items: end; //TODO: does nothing
  }
}

.middle {
  &.container {
    //background: transparentize($accent, 0.85);
    border-radius: $borderRadius;
    width: 100%;
    padding: 5px;
    padding-left: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

}

.factory {
  &.container {
    background: transparentize($accent, 0.5);
    border-radius: 50%;
    width: 160px;
    height: 160px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 5px;
  }
  &.row {
    margin: 2px 0px;
  }
}


.stairs {
  &:hover {
      transform: none;
      background: transparentize($accent, 0.7);
  }
  color: transparentize($accent, 0.5);
  background-color: transparentize($accent, 0.5);
  background: transparentize($accent, 0.5);
  margin-bottom: 5px;
  height: 80px;
  &.back-1 {
    width: 20%;
  }
  &.back-2 {
    width: 40%;
  }
  &.back-3 {
    width: 60%;
  }
  &.back-4 {
    width: 80%;
  }
  &.back-5 {
    width: 100%;
  }
}

.tile {
  &:hover {
      transform: none;
      border: 5px solid #FFFFFF;
  }
  &:disabled {
    opacity: 1;
    border: 5px hidden #FFFFFF;
  }
  width: 50px;
  height: 50px;
  border-radius: 0;
  font-size: 16pt;
  border: 5px hidden #FFFFFF;
  color: $textColor;
  flex-shrink: 1;
  &.button-0 {
    &:hover {
      border: 5px solid $accentDark;
    }
    &:disabled {
      border: 5px hidden #FFFFFF;
    }
    border: 5px hidden $accentDark;
    background-color: $col0;
    background: $col0;
    color: $accentDark;
  }
  &.button-1 {
    background-color: $col1;
    background: $col1;
  }
  &.button-2 {
    background-color: $col2;
    background: $col2;
  }
  &.button-3 {
    &:hover {
        border: 5px solid $background;
    }
    &:disabled {
      border: 5px hidden #FFFFFF;
    }
    border: 5px hidden $background;
    background-color: $col3;
    background: $col3;
    color: $background;
  }
  &.button-4 {
    background-color: $col4;
    background: $col4;
  }
  &.button-5 {
    background-color: $col5;
    background: $col5;
  }
}