@import 'styles/theme';

.header {
  &.container {
    @include center;
    height: 260px;
    background-image: url("../../assets/logo.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
  }
}
.rules-button {
  margin-left: 1000px;
  margin-bottom: 50px;
  object-position: 1000px;
}
