@import 'styles/theme';

.header {
  &.container {
    @include center;
    height: 33vh;
    background-image: url("../../assets/logo.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
  }
}

.rules-button {
    margin-top: 27vh;
    position:relative;
    left: 140px;
}

.account-button {
    margin-top: 27vh;
    position:relative;
    right: 140px;
}