@import 'styles/theme';

/* The '&' is a shorthand for the containing element,
  so for example a '&.user-list' inside .game will compile to
  .game.user-list

  for more information visit https://sass-lang.com/guide
 */

.lobby {
  &.container {
    @include center;
    flex-direction: column;
  }
  &.content {
    background: $background;
    min-height: 66vh;
    padding: 20px 50px;
    width: 60%;
    max-width: 30em;
    border-radius: 0.75em 0.75em 0em 0em;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: $dropShadow;
    position: fixed;
    bottom: 0;
  }
  &.buttons-container {
    margin-bottom: 5%;
    display: flex;
    width: 100%;
  }
  &.leave-button {
    font-size: 18pt;
    margin-left: 100px;
    height: 50px;
    width: 160px;
    text-transform: none;
  }
  &.kick-button {
    font-size: 10pt;
    margin-left: 5px;
    height: 25px;
    background: $col1;
    background-color: $col1;
    color: #FFFFFF;
    float: right;
  }
  &.players-container {
    padding: 20px;
    display: flex;
    width: 100%;
    align-items: center;
    border-radius: $borderRadius;
    justify-content: center;
  }
  &.players-name {
    border: 1px solid $accent;
    margin: auto;
    background: transparentize($accent, 0.85);
    border-radius: $borderRadius;
    width: 120px;
    height: 45px;
    padding: 10px;
  }
  &.lobby-list {
    list-style: none;
    padding-left: 0;
  }
  &.lobby-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  & p,h2 {
    margin: 0.5em 0;
  }
  & hr {
    margin: 20px;
  }
}

.settings {
  &.container {
    background: transparentize($accent, 0.85);
    border-radius: $borderRadius;
    width: 100%;
    padding: 15px 30px 0px 30px;
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  &.stat {
    width: 200px;
    font-size: 14pt;
  }
  &.row {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 15px;
  }
  &.option {
    width: 80px;
    font-size: 14pt;
  }
  &.name {
    font-weight: 300;
    margin-left: 5px;
    color: #FFFFFF;
  }
  &.username {
    color: $accentDark;
  }
  &.lobbyname {
    margin-left: auto;
    margin-right: 10px;
    font-family: $fontMono;
    font-size: 12pt;
    color: $accent;
  }
  &.players {
    margin-left: auto;
    margin-right: 60px;
    font-family: $fontMono;
    font-weight: 300;
    color: #FFFFFF;
  }
  &.players-button {
      &:hover {
        opacity: 1;
        transform: none;
      }
      text-transform: none;
      opacity: 0.5;
      padding: 0px 10px;
      margin-left: 5px;
      margin-top: 10px;
  }
  &.join-button {
      text-transform: none;
      padding: 0px 10px;
  }
  &.input {
    &:focus {
      border: 1px solid $accent;
    }
    height: 40px;
    padding-left: 15px;
    max-width: 100%;
    border: 1px hidden $background;
    border-radius: $borderRadius;
    background: transparentize($accent, 0.85);
    color: $textColor;
    transition: all 0.3s ease;
  }
  &.button-container {
    width: 100%;
    display: flex;
    justify-content: center;
  }
}