@import 'styles/theme';

/* The '&' is a shorthand for the containing element,
  so for example a '&.user-list' inside .game will compile to
  .game.user-list

  for more information visit https://sass-lang.com/guide
 */

.overview {
  &.container {
    @include center;
    flex-direction: column;
  }
  &.content {
    background: $background;
    min-height: 66vh;
    padding: 20px 50px;
    width: 60%;
    max-width: 30em;
    border-radius: 0.75em 0.75em 0em 0em;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: $dropShadow;
    bottom: 0;
    position: fixed;
  }
  &.welcome-container {
    margin-bottom: 20px;
    display: flex;
    width: 100%;
    align-items: center;
  }
  &.welcome-image {
    margin-left: 10px;
  }
  &.newgame-button {
    font-size: 18pt;
    margin-left: 10%;
    height: 50px;
    width: 160px;
    text-transform: none;
  }
  &.lobby-container {
    background: transparentize($accent, 0.85);
    padding: 15px;
    flex-direction: column;
    display: flex;
    width: 100%;
    align-items: center;
    border-radius: $borderRadius;
  }
  &.lobby-list {
    list-style: none;
    padding-left: 0;
  }
  & p,h2 {
    margin: 0.5em 0;
  }
  & hr {
    margin: 20px;
  }
  &.lobby-button {
      &:hover {
        transform: scale(1.05,1.05);
      }
      &:disabled {
        cursor: default;
        opacity: 0.4;
        &:hover {
          transform: none;
        }
      }
      margin-bottom: 25px;
      font-weight: 700;
      font-size: 13px;
      text-transform: none;
      text-align: center;
      display: flex;
      align-items: center;
      height: 30px;
      border: none;
      padding: 0;
      border-radius: $borderRadius;
      cursor: pointer;
      opacity: 1;
      color: $background;
      background: $background;
      background-color: $background;
      transition: all 0.3s ease;
    }
    &.button-container {
        width: 100%;
        margin-bottom: 5%;
        display: flex;
      }
}

.lobbies {
  &.container {
    width: 28em;
    padding: 5px;
    padding-left: 20px;
    border: 1px solid $accent;
    border-radius: $borderRadius;
    display: flex;
    align-items: center;
    background: lighten($background, 5);
  }
  &.name {
    font-weight: 300;
    margin-left: 5px;
    color: #FFFFFF;
  }
  &.username {
    color: $accentDark;
  }
  &.lobbyname {
    margin-left: auto;
    margin-right: 40px;
    font-family: $fontMono;
    font-size: 12pt;
    color: $accent;
  }
  &.players {
    margin-left: auto;
    margin-right: 60px;
    font-family: $fontMono;
    font-weight: 300;
    color: #FFFFFF;
  }
  &.join-button {
      text-transform: none;
      padding: 0px 10px;
  }

}