@import 'styles/theme';

.rules {
  &.container {
    @include center;
    flex-direction: column;
    display: flex;
    min-width: calc(66% - 0px);
    max-width: 800px;
    max-height: 95%;
    margin: 20px;
    background: transparentize($background, 0.05);
    border: 1px solid $accent;
    border-radius: $borderRadius;
    padding: 30px 50px;
  }
  &.header {
    margin-bottom: 20px;
    font-size: 40px;
    font-weight: bolder;
  }
  &.title {
    font-size: x-large;
    font-style: normal;
    font-weight: bolder;
    position: relative;
    margin-top: 10px;
    margin-bottom: 10px;
  }
  &.subtitle {
    font-size: large;
    font-weight: bold;
  }
  &.list-item {
    font-size: large;
    font-weight: bold;
  }
  &.text {
    position: relative;
    margin-top: 10px;
    margin-bottom: 10px;
  }
}

.rules-buttons {
  &:hover {
    transform: none;
  }
  padding: 6px 16px;
  border: 1px solid $accent;
  &.L {
    border-radius: 20px 0 0 20px;
  }
  &.L-inactive {
    border-radius: 20px 0 0 20px;
    background: $background;
    color: #FFFFFF;
    &:hover {
          transform: none;
          background-color: transparentize($accent, 0.5);
      }
  }
  &.R {
    border-radius: 0 20px 20px 0;
  }
  &.R-inactive {
    border-radius: 0 20px 20px 0;
    background: $background;
    color: #FFFFFF;
    &:hover {
          transform: none;
          background-color: transparentize($accent, 0.5);
      }
  }
}

.popup-box {
  position: fixed;
  z-index: +1;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}
