@import 'styles/theme';

.rules {
  &.container {
    @include center;
    flex-direction: column;
    display: flex;
    min-width: calc(66% - 0px);
    max-width: 800px;
    max-height: 95%;
    margin: 20px;
    background: transparentize($background, 0.05);
    border: 1px solid $accent;
    border-radius: $borderRadius;
    padding: 30px 50px;
  }
  &.header {
    margin-bottom: 20px;
    font-size: 40px;
    font-weight: bolder;
  }
  &.title {
    font-size: 15pt;
    position: relative;
    margin-top: 15px;
    margin-bottom: 10px;
  }
  &.subtitle {
    font-size: large;
    font-weight: bold;
  }
  &.list-item {
    font-size: large;
    font-weight: bold;
  }
  &.text {
    position: relative;
    margin-top: 10px;
    margin-bottom: 10px;
  }
}

.rules-buttons {
  &:hover {
    transform: none;
  }
  padding: 6px 16px;
  &.L {
    border-radius: 20px 0 0 20px;
  }
  &.M {
    border-radius: 0;
  }
  &.R {
    border-radius: 0 20px 20px 0;
  }
}

.rules-inactive {
  &:hover {
    transform: none;
    background-color: transparentize($accent, 0.8);
  }
  padding: 6px 16px;
  border: 1px solid $accent;
  background: $background;
  color: #FFFFFF;
  &.L {
    border-radius: 20px 0 0 20px;
  }
  &.M {
    border-radius: 0;
  }
  &.R {
    border-radius: 0 20px 20px 0;
  }
}

.example {
  &.list {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
  &.big-container {
    max-width: 22%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 1px solid transparentize($accent, 0.5);
    border-radius: $borderRadius;
    padding: 10px 15px;
    margin: 10px;
  }
  &.img-container {
    max-width: 50%;
    max-height: 180px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 1px solid transparentize($accent, 0.5);
    border-radius: $borderRadius;
    padding: 10px 15px;
    margin: 10px;
  }
  &.container {
    max-width: 20%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 1px solid transparentize($accent, 0.5);
    border-radius: $borderRadius;
    padding: 10px 15px;
    margin: 10px;
  }
  &.info-container {
    max-width: 36%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 1px solid transparentize($accent, 0.5);
    border-radius: $borderRadius;
    padding: 10px 15px;
    margin: 10px 5px 20px 5px;
  }
  &.points {
    color: $accent;
    font-size: 15pt;
    margin-bottom: 5px;
  }
  &.text {
    margin-bottom: 10px;
  }
}

.popup-box {
  position: fixed;
  z-index: +1;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}
