@import 'styles/theme';

.user {
  &.container {
    /* we include the center mixin defined in _theme.scss and save three duplicate lines :) */
    @include center;
    flex-direction: column;
  }
  &.button-container {
    width: 100%;
    margin-bottom: 5%;
    display: flex;
  }
}

.blue-button {
  background: $accentDark;
  background-color: $accentDark;
  &.margin {
    margin-right: 5%;
  }
}

.profile {
  &.outer-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 60%;
    max-width: 30em;
    min-height: 66vh;
    font-size: 16px;
    font-weight: 300;
    padding: 20px 50px;
    border-radius: 0.75em 0.75em 0em 0em;
    background-color: $background;
    position: fixed;
    bottom: 0px;
    }
  &.container {
    width: 100%;
    padding: 10px;
    border-radius: $borderRadius;
    background: transparentize($accentDark, 0.85);
  }
  &.name-container {
    display: flex;
    height: 30px;
  }
  &.username {
    margin-left: 5px;
    font-weight: 500;
    font-size: 20pt;
    color: $accentDark;
  }
  &.id {
    margin-left: auto;
    margin-right: 10px;
    font-family: $fontMono;
    font-weight: 300;
    color: #FFFFFF;
  }
  &.logged_in {
    margin-left: auto;
    margin-right: 10px;
    margin-top: 10px;
    font-family: $fontMono;
    font-weight: 300;
    color: #FFFFFF;
  }
  &.stats{
    font-family: $fontMono;
    font-weight: 300;
    color: #FFFFFF;
  }
}