@import 'styles/theme';

/* The '&' is a shorthand for the containing element,
  so for example a '&.user-list' inside .game will compile to
  .game.user-list

  for more information visit https://sass-lang.com/guide
 */

.userlist {
  &.container {
    background: $background;
    min-height: 70vh;
    padding: 20px;
    width: 60%;
    max-width: 30em;
    padding-left: 50px;
    padding-right: 50px;
    border-radius: 0.75em 0.75em 0em 0em;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: $dropShadow;
  }
  &.user-list {
    list-style: none;
    padding-left: 0;
  }
  &.user-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  &.button-container {
    width: 100%;
    margin-bottom: 5%;
    display: flex;
  }
  & p,h2 {
    margin: 0.5em 0;
  }
  &.user-button {
      margin: 5px;
      font-size: 13px;
      text-transform: none;
      background: $background;
      background-color: $background;
      transition: all 0.3s ease;
    }
}

.player {
  &.container {
    margin: -0.5em 0;
    width: 30em;
    padding: 10px;
    border: 1px solid $accent;
    border-radius: $borderRadius;
    display: flex;
    align-items: center;
    background: lighten($background, 5);
  }
  &.name {
    font-weight: 300;
    margin-left: 5px;
    color: #FFFFFF;
  }
  &.username {
    font-weight: 500;
    color: $accentDark;
  }
  &.id {
    margin-left: auto;
    margin-right: 10px;
    font-family: $fontMono;
    font-weight: 300;
    color: #FFFFFF;
  }
  &.logged_in {
    margin-left: auto;
    margin-right: 10px;
    font-family: $fontMono;
    font-weight: 300;
    color: #FFFFFF;
  }

}