@import 'styles/theme';

.winner {
  &.container {
    @include center;
    flex-direction: column;
    display: flex;
    width: 100%;
  }
  &.leave-button {
    margin: 10px;
    position: fixed;
    left: 0px;
    top: 0px;
  }
  &.header {
    margin-top: 10%;
    margin-bottom: 2.5%;
    font-size: 50px;
  }
  &.title {
    font-size: larger;
    font-style: italic;
    position: relative;
    margin-top: 2.5%;
    margin-bottom: 5%;
  }
  &.subtitle {
    font-size: larger;
  }
  &.list-item {
    font-size: larger;
  }
  &.text {
    position: relative;
    margin-top: 10px;
    margin-bottom: 10px;
  }
  &.name {
    font-size: 18pt;
    color: $accent;
    style: bold;
    margin-left: 10px;
  }
  &.name-left {
    font-size: 18pt;
    color: #808080;
    style: bold;
    margin-left: 10px;
  }
  &.score {
    font-size: 20pt;
    font-family: $fontMono;
    width: 100%;
  }
  &.player-container {
    flex-direction: row;
    display: flex;
    padding: 50px 20%;
    align-items: flex-end;
    justify-content: center;
    width: 100%;
    background: $background;
  }
  &.player {
    flex-direction: column;
    display: flex;
    margin-left: 20px;
    margin-right: 20px;
    width: 25%;
    margin-top: 50px;
  }
  &.name-box {
    flex-direction: row;
    align-items: center;
    width: 100%;
    display: flex;
  }
}
.winner-box {
    background: $accent;
    justify-content: center;
    margin-bottom: 10px;
    &.left{
        background: #808080;
    }
    cursor: default;
    &:hover {
        transform: none;
    }
}