@import 'styles/theme';

.winner {
  &.podium-step {
    width: 10%;
    color: #2884C6;
  }
  &.player-names {
    font-size: 250%;
    margin-top: 10px;
    margin-bottom: 10px;
  }
  &.container {
    @include center;
    flex-direction: column;
    display: flex;
    width: 65%;
    max-width: 800px;
  }
  &.header {
    margin-top: 10%;
    margin-bottom: 2.5%;
    font-size: 50px;
  }
  &.title {
    font-size: larger;
    font-style: italic;
    position: relative;
    margin-top: 2.5%;
    margin-bottom: 5%;
  }
  &.subtitle {
    font-size: larger;
  }
  &.list-item {
    font-size: larger;
  }
  &.text {
    position: relative;
    margin-top: 10px;
    margin-bottom: 10px;
  }
  &.box {
    background: $accent;
    justify-content: center;
    margin-bottom: 10px;
  }
  &.name {
    float: left;
    //width: 200px;
  }
  &.score {
    float: left;
    width: 100%;
  }
  &.player-container {
    flex-direction: row;
    display: flex;
    align-items: flex-end;
    width: 80%;
  }
  &.player {
    flex-direction: column;
    display: flex;
    margin-left: 20px;
    margin-right: 20px;
    width: 25%;
    margin-top: 50px;
  }
}
