@import 'styles/theme';

.base-container {
  margin-left: auto;
  padding-left: 15px;
  margin-right: auto;
  padding-right: 15px;
  max-width: $DESKTOP_WIDTH;
  color: $textColor;
}

.popup-box {
  position: relative;
  background: linear-gradient(to bottom right, #f8b595, #6c5b7c);
  font-family: "Georgia";
  font-style: normal;
  color: #2D1E2F;
  max-width: $DESKTOP_WIDTH;
  max-height: max-content;
  z-index: +1;
}

.box {
  position: relative;
  max-width: $DESKTOP_WIDTH;
  max-height: max-content;
  top: auto;
  bottom: auto;
  margin: 0 auto;
  background: #fff;
  border-radius: 4px;
  padding: 20px;
  border: 1px solid #999;
  overflow: scroll;
}

.close-icon {
  content: 'x';
  cursor: pointer;
  position: fixed;
  right: calc(15% - 30px);
  top: calc(120vh - 100vh - 33px);
  background: #ededed;
  width: 45px;
  height: 50px;
  border-radius: 50%;
  line-height: 20px;
  text-align: center;
  border: 1px solid #999;
  font-size: 18px;
}