/*
  This file contains the most basic variables that control how your application will look.
 */

/* Theme Colors

   these values control the colors of your application.
   feel free to play around with these and see what other look you can come up with! :D
*/

$accent: #F27D39;
$accentLight: #FFB285;
$accentDark: #2884C6;
$textColor: white;
$background: #2D1E2F;

// tile colors:

$col0: #FFFFFF;
$col1: #960200;
$col2: #7A8D66;
$col3: #FFD977;
$col4: $accent;
$col5: #F97686;


/* some constants */

$DESKTOP_WIDTH: 1160px;
$SMALL_LAPTOPS_WIDTH: 970px;
$TABLETS_WIDTH: 750px;
$SMALL_WIDTH: 768px;

/* some standard elements */
/* fonts */
$fontDefault: "Rosario", serif;
$fontMono: "Roboto Mono", monospace;

/* a standard drop shadow */
$dropShadow: 0 0.25em 0.25em rgba(0, 0, 0, 0.25);

$borderRadius: 0.75em;

/* mixins

  these allow you to create small snippets that you can insert with a one-liner in other stylesheets
  for an example, see styles/views/Login.scss
*/
@mixin center {
  display: flex;
  align-items: center;
  justify-content: center;
}